.detalle-container {
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.btn-volver {
  text-decoration: none;
  color: #1e3a8a;
  font-weight: bold;
}

.detalle-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.contenido {
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.6;
}

.fecha {
  color: gray;
  font-size: 14px;
}
